### Numpy Arrays and Pandas Series

In [2]:
import numpy as np
import pandas as pd

In [3]:
my_list = [10,25,35]

In [4]:
x= np.array(my_list)

print(x)

[10 25 35]

In [5]:
x

array([10, 25, 35])

In [6]:
type(x)

numpy.ndarray

In [7]:
pd.Series(my_list)

0    10
1    25
2    35
dtype: int64

In [8]:
y= pd.Series(my_list)

In [9]:
type(y)

pandas.core.series.Series

In [10]:
index_values = ['Best','Second Best','Third Best']
my_list = [10,25,35]


one = pd.Series(data = my_list,index=index_values)

In [11]:
one

Best           10
Second Best    25
Third Best     35
dtype: int64

In [12]:
index_values2 = ['Best','Second Best','Fourth Best']
my_list2 = [10,25,40]


two = pd.Series(data = my_list2,index=index_values2)

In [13]:
two

Best           10
Second Best    25
Fourth Best    40
dtype: int64

In [14]:
total = one + two
total

Best           20.0
Fourth Best     NaN
Second Best    50.0
Third Best      NaN
dtype: float64

In [15]:
total['Best']

20.0

In [16]:
total[0]

/var/folders/74/jqd1f7yx2dj5czlf00b_j9fw0000gn/T/ipykernel_66136/3900337425.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  total[0]

20.0

### Pandas Dataframe

In [17]:
dataframe = pd.DataFrame({'Series 1': one, 'Series 2': two})

In [18]:
print(dataframe)

             Series 1  Series 2
Best             10.0      10.0
Fourth Best       NaN      40.0
Second Best      25.0      25.0
Third Best       35.0       NaN

In [19]:
dataframe

             Series 1  Series 2
Best             10.0      10.0
Fourth Best       NaN      40.0
Second Best      25.0      25.0
Third Best       35.0       NaN

In [22]:
ice_cream = [['MCC',1],['Butterscotch',2],['Butter Pecan',3]]

In [24]:
pd.DataFrame(ice_cream, index = ['Flavor1', 'Flavor 2','Flavor 3'],columns = ('Flavor','Scoops'))

                Flavor  Scoops
Flavor1            MCC       1
Flavor 2  Butterscotch       2
Flavor 3  Butter Pecan       3